body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #f9f7f3;
}

.form-container {
    background-color: #370617;
    border-radius: 8px;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 0.45rem;
    outline: none;
    border: 2px solid transparent;
}

input:focus {
    border-color: white;
}

::placeholder-shown {
    font-weight: 600;
}

input::placeholder {
    opacity: 0.4;
}

button {
    padding: 10px 15px;
    border-end-start-radius: 20px;
    border-end-start-radius: 20px;
    background-color: #e5f4f4;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #03071e;
    color:white;
}

.resume-container {
    background-color: #590d22;
    color: #f9f7f3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

[contenteditable] {
    border: 1px dashed #ccc;
    padding: 5px;
    min-height: 20px;
}

[contenteditable]:focus {
    outline: 2px solid #c2ccd2;
}

#profilePreviewContainer {
    margin: 10px 0;
}

#profilePreview {
    display: block;
    max-width: 100px;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
